
  .loginForm {
    justify-content: center;
    align-items: center;
    padding-left:'1vw';
    padding-right:'1vw';
    padding-top:'2vh';
    padding-bottom:'2vh'; 
    flex:1;
  }
  .loginFormInner {
    justify-content: center;
    padding-left:'1vw';
    padding-right:'1vw';
    padding-top:'2vh';
    padding-bottom:'2vh'; 
  }
  

  