.Cell {
    display: inline-block;
    margin-left:2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}
.CellLeft {
    display: inline-block;
    margin-left:20vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}
.Row {
    background-color: rgb(176, 199, 240);
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: flex-start;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .modal_content {
    background-color: white;
    position: absolute;
  }
