.Mymenu {
    background-color: #0c56eb ;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    justify-content: space-between;
  
  }
  .MenuItem {
    border-radius: 3vh;
    background-color: #0c56eb;
    color: rgb(0, 21, 90) ;
    display: flex;
    /* justify-content: center; */
    padding: 2vh;
    font-size: calc( 4vh);

    
  }
  .headerOuter {
    background-color: #0c56eb;
    color: rgb(0, 21, 90) ;
    display: flex;
    justify-content: center;
    font-size: calc( 4vh);
    
    
  }
  .headerInner {
    padding-left:'1vw';
    padding-right:'1vw';
    padding-top:'2vh';
    padding-bottom:'2vh'; 
  }

  